<!--
    Author: Naman Arora
    Date: 29/11/2020
-->
<!DOCTYPE html>
<html>
    <title>IA Assignment 2</title>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <div id="app">
            <!-- INPUTS -->
            <button v-on:click="createDatabaseBtn">Create Database</button><br>

            Movie name: <input v-model="userMovieName"><br>
            Movie year: <input v-model="userMovieYear"><br>
            <button v-on:click="queryDatabaseBtn">Query Database</button><br>

            <button v-on:click="destroyDatabaseBtn">Destroy Database</button>

            <!-- RESULTS -->
            <p v-if="queryMovies.length>0">Movies starting with "{{userMovieName}}" from {{userMovieYear}}</p>
            <li v-for="movie in queryMovies" :key="movie.movieName">
                {{ movie.movieName }}
            </li>
        </div>

        <script>
            var vueApp = new Vue({
                el:'#app',
                data: {
                    userMovieName: null,
                    userMovieYear: null,
                    queryMovies: []
                },
                methods:{
                    createDatabaseBtn: databaseCreate,
                    queryDatabaseBtn: databaseQuery,
                    destroyDatabaseBtn: databaseDestroy 
                }
            })

            // Clicking each of these buttons will invoke API primitives 
            // on your Cloud-based server and deal with the responses.

            function databaseCreate() {
                /*
                Make a table in a DynamoDB database – fetch the raw
                data from the S3 object and upload it to the newly created database.
                */
                console.log("Creating the database !!");
                let prom = fetch("/create");
            }

            function databaseQuery() {
                /* 
                Find all the movies in a given year, that begin-with the
                entered text string – and display them on the web-page.
                */
                console.log("Quering the database !!");
                let prom = fetch("/query/" + this.userMovieYear + "/" + this.userMovieName);

                // Get response, put it into Vue variables
                prom.then(response => response.json())
                    .then(response => {
                        this.queryMovies = response.list;
                        console.log(response.list);
                    })
            }

            function databaseDestroy() {
                //Should cause the database table to be deleted.
                console.log("Database being destroyed !!");
                let prom = fetch("/destroy");  
            }
        </script>
    </body>
</html>